body .wrapper {
  left: 94px;
  top: 46px;
}
.box {
  position: absolute;
  display: flex;
  align-items: stretch;
  width: 69px;
  height: 14px;
  left: 121px;
  top: 49px;
}
.heading {
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #eb5757;
}
.searchbox {
  position: absolute;
  width: 297px;
  height: 55px;
  left: 1047px;
  top: 32px;
}

.searchButton {
  left: 1397px;
  top: 32px;
}
